
- flash.each do |type, msg|
	%div.alert.alert-warning.alert-dismissible.fade.show
		%p= msg
		%button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}

= button_to "Post", create_post_path, class: 'btn btn-primary mt-2'
%br

- if @user.feedPosts.any?
	- @user.feedPosts.each do |post|
		= render 'postContainer', post: post

= render 'likeModal'
